body {
    background-color: rgb(150, 151, 151);
    font-family:Arial, Helvetica, sans-serif;
    color:black;
}
section{
    background-color: white;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
    color: rgb(150, 0, 30);
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    margin-left: 0.5cm;
}
p{    
    margin-left: 0.5cm;}
img{
    margin-left: 0.5cm;
}
